  h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Tahoma, Geneva, 
    Verdana, sans-serif;
  }

  li {
    list-style-type: none;
  }
  
  body {
    margin: 0%;
  }
/*--------------------------------------------------------------
# Navegador
--------------------------------------------------------------*/
.nav-menu > ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding:0;
  }

.nav-menu li:not(:last-child) {
  margin-right: 20px;
  }

.nav-menu a {
  position: relative;
  color: #2f4d5a;
  padding: 20px 15px;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  }

.nav-menu a:hover{
  color: #048998;
}

/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
  #hero .hero-container {
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, 
  Verdana, sans-serif;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  }
  
  #hero .home {
  display: flex;
  /*transition:all 2s ease-in-out;*/
  padding: 60px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  }

  .foto_home {
  width: 400px;
  height: 400px; 
  border-radius: 100%;
  margin: 40px;
  }
  
  .caja1 {
    position: relative;
  }

  .caja1 article h2 {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.76);
  }

  .foto_home:hover {
  filter: opacity(.5);
  }

/*--------------------------------------------------------------
# Sobre mi
--------------------------------------------------------------*/
.main-about {
  background: url("../img/escritorio.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 60px 0;
  position: relative;
}

/*SKILLS*/


.container {
  width: 30%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; background-color: #4CAF50;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.php {width: 60%; background-color: #808080;}

/*--------------------------------------------------------------
# Contacta
--------------------------------------------------------------*/
.main-contacto {
  background: url("../img/escritorio.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 30px 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.form-trabajar {
  background-color: rgba(255, 255, 255, 0.89);
  margin: 20px;
  padding: 50px;
}

.mis_datos {
  padding: 30px;
  border-radius: 1em;
  width: 350px;
  margin: 20px 20px 20px 80px;
  background-color: #e7e4e494;
}  

.mis_datos>img {
  width: 70%; 
  border-radius: 100%;
  display: flex;
  margin:auto;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
  }

  .mis_datos>ul {
  list-style-type: none;
  }

.mis_datos>ul>li>img {
  /* Vectores tamaño y alineacion texto*/
  width: 20px;
}

.mis_datos>ul>li{
  margin: 20px;
}

.form-contacto {
  /* Centrar y aliniear lista */
  list-style: none;
  padding: 0;
  margin: 0;
}

.inputstyle{
  /* aliniear cajas form */
   width: 50%;
}

form li + li {
    /* Espacio estre li*/
  margin-top: 1em;
}

form {
  /* Centrar el formulario en la página */
  margin: 0 auto;
  width: 500px;
  /* Esquema del formulario bordes */
  padding: 1em;
  border-radius: 1em;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.social img {
  width: 35px;
  margin: 5px;
}

.logo-social:hover {
  filter: opacity(.5);
  }

.social ul  {
    justify-content: center;
    display: flex;
}
/*--------------------------------------------------------------
# Negocio
--------------------------------------------------------------*/
.negocio h1 {
  text-align: center;
  margin: 50px;
  font-size: 25px;
}

.img_negocio {
  width: 30px;
  display:block;
  margin:auto;
}

.servios_negocio p, h2 {
  width: 100%;
  margin: 10px;
}

.servios_negocio:hover {
  color: #048998;
}

.servios_negocio {
background-color: #e3e3e3a9;
border-radius: 4%;
/*transition:all 2s ease-in-out;*/
padding: 10px;
margin: 15px 0px 15px 0px;
align-items: center;
text-align: center;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

